.card1dayFlex {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow:0px 1px 0px #528009;

    display:flex;
    justify-content: space-around;
}
.half1Card {
    width: 300px;
    display: flex;
    justify-content: space-around;
    
}
.card1dayMain {
    text-align: center;
    background-color:yellowgreen;

}