.flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.flexCardMap {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.loader {
  height: 100vh;
  width: 100%;
  padding-top: 150px;
  background: linear-gradient(
    to right,
    rgba(210, 255, 82, 1) 0%,
    rgba(145, 232, 66, 1) 100%
  );
}
.wrapLoader {
  margin: auto;
  text-align: center;
}
.enterCity {
  margin: auto;
  width: 200px;
}
.myButton {
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background-color: #89c403;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
  width: 100%;
  text-align: center;
}
.myButton:hover {
  background-color: #77a809;
}
.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
